#
# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
CS4125Project/nbproject/private/
CS4125Project/build/
CS4125Project/nbbuild/
CS4125Project/dist/
CS4125Project/nbdist/
CS4125Project/nbactions.xml
CS4125Project/nb-configuration.xml


# OS
.DS_Store

# Misc
*.swp
private.properties
release.properties
pom.xml.releaseBackup
pom.xml.tag
CS4125Project/*.log
CS4125Project/*.csv
!CS4125Project/Localization.csv
CS4125Project/src/MenuUI/SupervisorMenuUI.java
CS4125Project/backups/
